@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src:  url('/assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
          url('/assets/fonts/SF-Pro-Display-Regular.woff') format('woff'),
          url('/assets/fonts/SF-Pro-Display-Regular.eot') format('eot'),
          url('/assets/fonts/SF-Pro-Display-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SF-Pro-Display-Bold';
    src:  url('/assets/fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
          url('/assets/fonts/SF-Pro-Display-Bold.woff') format('woff'),
          url('/assets/fonts/SF-Pro-Display-Bold.eot') format('eot'),
          url('/assets/fonts/SF-Pro-Display-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'SF-Pro-Text-Regular';
    src:  url('/assets/fonts/SF-Pro-Text-Regular.woff2') format('woff2'),
          url('/assets/fonts/SF-Pro-Text-Regular.woff') format('woff'),
          url('/assets/fonts/SF-Pro-Text-Regular.eot') format('eot'),
          url('/assets/fonts/SF-Pro-Text-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SF-Pro-Text-Semibold';
    src:  url('/assets/fonts/SF-Pro-Text-Semibold.woff2') format('woff2'),
          url('/assets/fonts/SF-Pro-Text-Semibold.woff') format('woff'),
          url('/assets/fonts/SF-Pro-Text-Semibold.eot') format('eot'),
          url('/assets/fonts/SF-Pro-Text-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  