$c-title: #FF5733;

// Colors idendity
$c0: #27813E;
$c1: #2DA15F;
$c2: #2672CB;
$c3: #E7E7E7;
$c4: #FAFAFA;
$c5: #000000;
$c6: #ffffff;
$c7: #7E7E7E;
$c8: #EEEEEE;
$c9: #10c558;

// Fonts
$t-0: 'SF Pro Display Regular', sans-serif;
$t-1: 'SF Pro Display Bold', sans-serif;
$t-2: 'SF Pro Text Regular', sans-serif;
$t-3: 'SF Pro Text Semibold', sans-serif;